.App {
  min-height: 100vh;
  text-align: center;
  background-color: var(--theme-background);
  color: var(--theme-color);
  padding: 50px 10px;
  --list-width-pc: 600px;
  --todo-width-pc: 450px;
  
  --list-width-tablet: 350px;
  --todo-width-tablet: 200px;

  --list-width-mobile: 250px;
  --todo-width-mobile: 50px;

  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.icon-sun {
  color: var(--theme-icon-color);
  margin: -20px 40px 50px;
  text-align: right;
  font-size: 20px;
}

.icon-sun:hover {
  color: var(--theme-icon-hover-color);
  cursor: pointer;
}

footer {
  justify-self: flex-end;
  margin: 50px 0;
  padding-bottom: 0;
  color: #999;
  text-align: center;
}

footer p {
  padding-bottom: 0;
  margin-bottom: 0;
}

footer a {
  color: #999;
}